In [1]:
import sys
import numpy as np
import pandas as pd
sys.path.append('..')

from math import isclose
from factor_analyzer.factor_analyzer import FactorAnalyzer

In [2]:
path = '../tests/data/test08.csv'

In [3]:
data_p = pd.read_csv(path)

In [4]:
fa = FactorAnalyzer(2)
fa.analyze(data_p, rotation=None, method='minres')
loadings_p = fa.loadings

In [5]:
loadings_p.index.rename('', inplace=True)

In [6]:
loadings_r = pd.read_csv('../tests/expected/test08/loadings_minres_none_2_test08.csv',
                         index_col=0)

In [7]:
loadings_r.index.rename('', inplace=True)
loadings_r.columns = ['Factor1', 'Factor1']

In [8]:
loadings_r = loadings_r.abs()

In [9]:
loadings_p = loadings_p.abs()

In [10]:
loadings_r

        Factor1   Factor1

age    0.286195  0.044280
lwt    0.423130  0.081681
race   0.552936  0.537475
smoke  0.012701  0.605038
ptl    0.239410  0.297937
ht     0.041164  0.022420
ui     0.380283  0.231087
ftv    0.234990  0.005592
bwt    0.473561  0.224197

In [11]:
loadings_p

        Factor1   Factor2

age    0.286193  0.044248
lwt    0.423113  0.081726
race   0.553010  0.537447
smoke  0.012648  0.605032
ptl    0.239383  0.297956
ht     0.041159  0.022426
ui     0.380258  0.231125
ftv    0.234987  0.005618
bwt    0.473543  0.224244

In [12]:
def test_relative_threshold(loadings_p, loadings_r, rel_tol=1e-03):
    """
    Check element-wise matching.
    """
    results = np.zeros(loadings_p.shape)
    for i in range(loadings_p.shape[0]):
        for j in range(loadings_p.shape[1]):

            p = loadings_p.iloc[i, j]
            r = loadings_r.iloc[i, j]
            results[i, j] = isclose(p, r, rel_tol=rel_tol)
    return pd.DataFrame(results,
                        index=loadings_p.index,
                        columns=loadings_p.columns).astype(bool)

In [13]:
test_relative_threshold(loadings_r, loadings_p)

       Factor1  Factor1

age       True     True
lwt       True     True
race      True     True
smoke    False     True
ptl       True     True
ht        True     True
ui        True     True
ftv       True    False
bwt       True     True

In [14]:
test_relative_threshold(loadings_r, loadings_p, 1e-03).sum().sum() / loadings_p.size

0.88888888888888884